button {
    background-color: lightgreen;
    border-style: solid;
    border-color: green;
    border-width: 0.5vw;
    border-radius: 2vw;
    padding: 2vw;
    width: 20vw;
    margin: 1vw;
    font-size: 3vw;
}
.buttons {
    display: block;
    margin: 0 27.2vw;
}
img {
    width: 60vw;
    margin: 0 20vw;
    border-radius: 5vw;
}
