button {
    background-color: lightgreen;
    border-style: solid;
    border-color: green;
    border-width: 5pt 5pt;
    border-radius: 25%;
    padding: 2vw;
    width: 20vw;
    margin: 1vw;
}
.buttons {
    display: block;
    margin: auto;
}
